@model Correct.Storage.Application.Requests.CreateBoxRequest

@{
    ViewBag.Title = "Новый короб";
}

<h2>Новый короб</h2>
@using (Html.BeginForm("CreateBoxPost", "Box", FormMethod.Post))
{
    @Html.LabelFor(m => m.Barcode, "Штрих-код")
    @Html.TextBoxFor(m => m.Barcode)
    <input type="submit" value="Создать"/>
}